/* Configuración general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("img/cursor1.png"), auto;
    font-family: 'Poppins', Roboto, Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    position: relative;
    padding-bottom: 6em;
    min-height: 100vh;
    font-size: 16px;
}

section, .container {
    padding: 3rem 1rem;
    margin: auto;
    max-width: 1200px;
}

.container {
    width: 100%;
}

/* Formularios */
form, .formulario, .contenido, .promo {
    max-width: 900px;
    margin: 1rem auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid_form, .formulario, .form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"],
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
    border-color: #007BFF;
    outline: none;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

input[type="submit"] {
    background-color: #fecc3c;
    color: black;
}

input[type="submit"]:hover {
    background-color: #FFA500;
}

input[type="reset"] {
    background-color: #ef0f0f;
    color: #fff;
    margin-left: 10px;
}

input[type="reset"]:hover {
    background-color: #ef0f0f;
}

::placeholder {
    color: #999;
    font-size: 13px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c94747;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.navbar .logo img {
    height: 5.5rem;
    width: auto;
    transition: transform 0.2s ease-in-out;
}

.navbar .logo img:active {
    transform: scale(1.05);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    transition: all 0.3s ease-in-out;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.nav-links .selected {
    color: #f3c848;
}

.nav-links a:hover {
    color: #ffcc33;
}

.nav-links a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #ffcc33;
    transition: width 0.3s ease;
    margin: 0 auto;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-toggle {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
}

/* Contenido principal */
.contenido h1, .promo h1, .producto h1, h2 {
    text-align: center;
    font-size: 2rem;
    color: #333;
}


.contenido p, .sobre_nosotros p, .miembro_equipo p {
    text-align: center;
    font-size: 1.1rem;
    color: #777;
}

.productos-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.productos-img img {
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.productos-img img:hover {
    transform: scale(1.05);
}

.promo form, .producto form {
    text-align: left;
}

sup {
    color: red;
    font-weight: bold;
}

/* Estilo para la sección "Sobre Nosotros" */
.sobre_nosotros {
    padding: 2rem;
    background-color: #f4f4f4;
}

.sobre_nosotros h2 {
    font-size: 2rem;
}

.equipo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.miembro_equipo {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    transition: transform 0.3s ease;
}

.miembro_equipo:hover {
    transform: translateY(-10px);
}

.foto_equipo {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.miembro_equipo:hover .foto_equipo {
    transform: scale(1.1);
}

.miembro_equipo h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 4px solid #c94747;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
    line-height: 1.5;
    font-weight: 500;
}

footer a {
    color: #f5f107;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

footer a:hover {
    text-decoration: underline;
    color: #ffcc33;
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
    width: 12px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: repeating-linear-gradient(
        135deg,
        #be202f,
        #be202f 10px,
        #fecc3c 10px,
        #fecc3c 20px
    );
    border-radius: 10px;
}

.menu-icon {
    display: none;
}

.tipoEvento {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttons {
    text-align: right;
    margin-top: 15px;
}

/* Media Queries */

@media (max-width: 1200px) {
    section {
        padding: 2rem 1rem;
    }

    .nav-links {
        display: flex;
    }

    .contenido {
        padding: 2rem 1rem;
    }
}

@media (max-width: 992px) {
    .nav-links {
        flex-wrap: wrap;
        gap: 10px;
    }

    .miembro_equipo {
        width: calc(50% - 20px);
    }
}

/*Tablet*/
@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .menu-icon {
        display: flex;
        font-size: xx-large;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        background: var(--color-primary);
        padding: 10px;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .miembro_equipo {
        width: 100%;
    }

    .productos-img {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*Movil*/
@media (max-width: 500px) {
    .tipoEvento {
        flex-direction: column;
    }

    .productos-img {
        grid-template-columns: repeat(1, 1fr);
    }
}